<div class="top-page">
  <div class="container-fluid text-center top">
    <h1>Treasure Hunt</h1>
    <p>
      落ち葉の中から宝を探そう.<br>
      間違えてうんこをゲットしてはいけないよ.
    </p>
    <%= link_to '#' do %>
      <button type="button" class="btn btn-primary">スタート</button>
    <% end %>
  </div>
</div>