.container {
  height: 100%;
  width: 100%;
}
div {
  width: 100%;
  height: 100%;
  position: absolute;
}

div.a {
  top: 0px;
  left: 0px;
}

div.b {
  top: 50px;
  left: 0px;
}

div.c {
  top: 100px;
  left: 0px;
}

.green-leaf {
  color: #006400;
  width: 82px;
  height: 82px;
}

.yellow-leaf {
  color: #ffaa00;
  width: 82px;
  height: 82px; 
}

.red-leaf {
  color: #b30000;
  width: 82px;
  height: 82px;  
}