.container {
  height: 100%;
  width: 100%;
}
div {
  width: 100%;
  height: 100%;
  position: absolute;
}

div.a {
  top: 0px;
  left: 0px;
}

div.b {
  top: 50px;
  left: 0px;
}

div.c {
  top: 100px;
  left: 0px;
}

.leaf {
  color: #006400;
  width: 82px;
  height: 82px;
}

.js-envira-shadow {
  text-shadow: 0 0 3px #000;
}