<div class="game-1">
  <div class="container">
    <div class="a leaf"><i class="fa-brands fa-envira fa-5x"></i></div>
    <div class="b leaf"><i class="fa-brands fa-envira fa-5x"></i></div>
    <div class="c leaf"><i class="fa-brands fa-envira fa-5x"></i></div>
  </div>
</div>