<div class="lose-page">
  <div class="container-fluid text-center lose">
    <h1>あなたはウンコを踏みました</h1>
    <p>くさーい！</p>
    <%= link_to root_path do %>
      <button type="button" class="btn btn-primary">Top Page</button>
    <% end %>
  </div>
</div>