<div class="lose-page">
  <div class="container-fluid text-center lose">
    <h1>あなたはウンコを踏みました</h1>
    <p>くさーい！</p>
    <%= link_to root_path do %>
      <button type="button" class="btn btn-primary">Top Page</button>
    <% end %>
    <div class="twitter-box">
      <%= link_to "https://twitter.com/share?url=http://localhost:3000&text=Treasure Huntを、Twitterでみんなに広めよう！", class: 'btn btn-default twitter', target: '_blank' do %>
        <i class="fa-brands fa-twitter fa-3x" style='color: #3399FF;'></i>
      <% end %>
    </div>
  </div>
</div>