<div class="win-page">
  <div class="container-fluid text-center win">
    <h1>クリア</h1>
    <p>遊んでくれてありがとう！</p>
    <%= link_to root_path do %>
      <button type="button" class="btn btn-primary">Top Page</button>
    <% end %>
    <div class="twitter-box">
      <%= link_to "https://twitter.com/share?url=#{ request_url }=Treasure Huntを、Twitterでみんなに広めよう！", class: 'btn btn-default twitter', target: '_blank' do %>
        <i class="fa-brands fa-twitter fa-3x" style='color: #3399FF;'></i>
      <% end %>
    </div>
  </div>
</div>