@import "bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

@import "shared/font";
@import "top";
@import "games/game_1";
@import "games/win";
@import "games/lose";


.profiler-results {
  display: none;
}

.html {
  height: 100%;

  .body {
    height: 100%;
  }
}